.products {
  td {
    min-width: 190px;  
  }
  
  td:nth-child(4) {
    color: $color-02;
  }
  
  .money {
    border: none;
    color: $color-02;
    width: auto;
  }
}

.img {
  width: 100px;
  height: 150px;
  background-position: center;
  background-size: cover;
}