.vendas {
  .box-product {
    width: 100%;
    margin-top: 50px;
    display: flex;

    .img {
      width: 300px;
      height: 500px;
      background-color: #ccc;
      background-position: center;
      background-size: cover;  
    }

    img {
      height: 95%;
    }

    .box-inf {
      width: 68%;
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
      p {
        margin-bottom: 0px;
      }

      .colors {
        display: flex;
        .color {
          cursor: pointer;
          margin: 0 5px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #b9b9b9;
        }
      }

    }
    
    .btn-estoque {
      color: $color-05;
    }
  }
}


@media (min-width: 960px) {
  .vendas {
    height: 85vh;
    max-height: 85vh;
  }
}

@media (max-width: 650px) {
  .box-product {
    flex-wrap: wrap;
    justify-content: center;
  }

  .box-inf {
    margin: 15px 0;
  }

  .box-inf div {
    margin: 15px 0;
  }
}