.top-page {
  transition: 0.7s all;
  margin: 19px 0 50px 0;
  display: flex;
  justify-content: space-between;

  .box-avatar {
    display: flex;
    align-items: center;

    p {
      margin: 0 15px;
    }
  }

  h2 {
    color: $color-09;
    font-size: 24px;
    letter-spacing: 0.3px;
  }
}

// @media (min-width: 960px) {
//   .top-page {
//     margin-left: 280px;
//     padding: 0;
//   }
// }

@media (max-width: 960px) {
  .top-page {
    .box-avatar {
      position: absolute;
      top: 18px;
      right: 0;

      .theme--light.v-divider {
        border-color: transparent;
      }
    }
  }
}
