#sidebar {
  .v-navigation-drawer__content {
    background-color: $color-03;
  }

  // .close-menu {
  //   position: absolute;
  //   right: 5px;
  //   top: 5px;
  //   z-index: 999;
  //   color: $color-07;
  // }

  .top-sidebar {
    height: 100px;
    padding: 0 17px;
  }

  .box-logo {
    color: #A4A6B3;
    display: flex;
    align-items: center;

    h1 {
      font-size: 19px;
      margin-left: 20px;
    }
  }
  
  #box-icon-menu {
    height: 40px;
    display: flex;
    margin-left: 15px;
    margin-top: 10px;
    z-index: 999;

    i {
      font-size: 35px;
    }
  }

  .items-menu {
    height: 56px;
  }

  a {
    text-decoration: none;
    height: 56px;
    color: #a3a6b473 !important;
    width: 100%;
    display: flex;
  }
  
  i {
    color: $color-07;
    cursor: pointer;
  }

  .icon-menu {
    height: 34px;
  }
}