$color-01: #1867C0;
$color-02: #29CC97;
$color-03: #363740;
$color-04: #B2E3FF;
$color-05: #F12B2C;
$color-06: #FEC400;
$color-07: #a3a6b473;
$color-09: #252733;

$color-title-card: #9FA2B4;
$color-information-card: #252733c2;

$white: #fff;

.height-100vh {
  height: 100vh;
}

.z-999 {
  z-index: 999;
}